# Ignore all .json files
*.json
*.pickle

send_email.py
test.py

.env
service_account.json

# 🚫 Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 🐍 Virtual Environment
venv/
env/

# 💻 MacOS & system files
.DS_Store
Thumbs.db
token.pickle
